@{
    Layout = "_Layout";
    var pageTitle = ViewData["Title"] ?? "Help";
}
<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <header>
                <h1>Help Page</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString()=="Home" ? "active":"")" href="/help/">Home</a></li>
                    <li class="nav-item"><a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString()=="Tutorial" ? "active":"")" href="/help/tutorial/index/1/">Tutorial</a></li>
                </ul>
            </header>
            <section class="mt-3">
                @RenderBody()
            </section>
        </div>
    </div>
</div>
