@model TripLog.ViewModels.AddTripPage1VM
@{
    ViewData["Title"] = "Add Trip - Page 1";
}

<form asp-action="AddPage1" method="post" class="row g-3">
    <div class="col-12 col-md-6">
        <label asp-for="Destination" class="form-label"></label>
        <input asp-for="Destination" class="form-control" />
        <span asp-validation-for="Destination" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <label asp-for="Accommodation" class="form-label"></label>
        <input asp-for="Accommodation" class="form-control" />
        <span asp-validation-for="Accommodation" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="col-12 col-md-6">
        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Next</button>
        <button class="btn btn-secondary" formaction="@Url.Action("Cancel")" formmethod="post">Cancel</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
