@{
    ViewData["Title"] = "Tutorial - Page 2";
    Layout = "_HelpLayout";
}
<h3>Tutorial - Page 2</h3>
<p>Here's the second thing you need to know about the website.</p>
<a class="btn btn-sm btn-secondary" href="/help/tutorial/index/1/">Prev</a>
<a class="btn btn-sm btn-primary" href="/help/tutorial/index/3/">Next</a>
