@{
    ViewData["Title"] = "Tutorial - Page 3";
    Layout = "_HelpLayout";
}
<h3>Tutorial - Page 3</h3>
<p>Here's the third thing you need to know about the website.</p>
<a class="btn btn-sm btn-secondary" href="/help/tutorial/index/2/">Prev</a>
