@{
    ViewData["Title"] = "Tutorial - Page 1";
    Layout = "_HelpLayout";
}
<h3>Tutorial - Page 1</h3>
<p>Here's the first thing you need to know about the website.</p>
<a class="btn btn-sm btn-primary" href="/help/tutorial/index/2/">Next</a>
